.quadrado{
border: solid;
border-bottom: solid;
border-right: solid;
border-left: solid;
height: 500px;
width: 400px;
margin-top: 5%;
padding-left: 10px;
padding-top: 20px;
background-color: rgb(230, 225, 225);
}

img{
top: 57px;
padding-left: 3px;
width: 100px;
margin-left: 325px;
position: fixed;
}


